name: build

on:
  push:
    branches:
      - master
jobs:
  build-win64:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        curl -L https://sourceforge.net/projects/mpv-player-windows/files/libmpv/mpv-dev-x86_64-20230205-git-e439ddc.7z/download > mpv.7z
        7z x mpv.7z
        mv libmpv-2.dll mpv-2.dll
        pip install . pywin32 pyinstaller pystray
        ./gen_pkg.sh --skip-build
      shell: bash
    - name: Build
      run: |
        .\build.bat
      shell: cmd
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: windows
        path: ${{ github.workspace }}/dist/*.exe
